@import "../../mainStyles.module.scss";

// DESKTOP
.catalogPage {
    max-width: calc(1110px + 32px);
    margin: 0 auto;
    margin-top: 80px;
    padding: 0 16px;
    .titleSection {
        padding: 48px;
        background-color: $color_Peach;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        border-radius: 24px;
        .title1Catalog {
            color: $color_White;
            text-align: center;
            font-size: $size_48;
            font-weight: $weight_500;
        }
        .subtitleCatalog {
            color: $color_White;
            text-align: center;
            font-size: $size_16;
            font-weight: $weight_400;
            max-width: 360px;
        }
    }
    .cardsSections {
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        width: 100%;
        .cardCatalog {
            height: 478px;
            display: flex;
            flex-direction: column;
            width: calc((100% - 48px) / 3);
            border-radius: 24px;
            overflow: hidden;
            .imageCard {
                height: 350px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    height: 100%;
                }
            }
            .textCard {
                padding: 24px;
                height: 140px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                align-items: center;
                background-color: $color_VeryLightPeach;
                .title2Card {
                    color: $color_Peach;
                    text-align: center;
                    font-size: $size_20;
                    font-weight: $weight_500;
                    letter-spacing: $spacing_5;
                }
                .subtitleCard {
                    color: $color_darkGrey;
                    text-align: center;
                    font-size: $size_16;
                    font-weight: $weight_400;
                }
            }
        }
    }
}

// TABLET
@media screen and (max-width: 840px) {
    .catalogPage {
        .cardsSections {
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 32px;
            .cardCatalog {
                width: 100%;
                height: 310px;
                flex-direction: row;
                .imageCard {
                    width: 50%;
                    height: 100%;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .textCard {
                    width: 50%;
                    height: 100%;
                    justify-content: center;
                }
            }
        }
    }
}

// MOBILE
@media screen and (max-width: 475px) {
    .catalogPage {
        max-width: none;
        width: 100%;
        margin-top: 0;
        padding: 0;
        .titleSection {
            padding: 80px 24px;
            border-radius: 0;
            .title1Catalog {
                font-size: $size_32;
                max-width: none;
            }
        }
        .cardsSections {
            padding: 0 16px;
            .cardCatalog {
                width: 100%;
                height: 478px;
                flex-direction: column;
                .imageCard {
                    height: 350px;
                    width: 100%;
                }
                .textCard {
                    width: 100%;
                    height: 140px;
                }
            }
        }
    }
}
