* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost';
}

a,
button,
input {
    background: inherit;
    border: inherit;
    outline: inherit;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    cursor: pointer;
}
