// COLORs
$color_Black: #1d1c1e;
$color_Peach: #e7806b;
$color_White: #ffffff;
$color_LightPeach: #ffac9b;
$color_VeryLightPeach: #ffd5cd;
$color_darkGrey: #333136;
$color_LightGrey: #dadbdd;

// SIZEs
$size_48: 48px;
$size_40: 40px;
$size_24: 24px;
$size_20: 20px;
$size_16: 16px;
$size_14: 14px;

// HEIGHTs
$height_48: 48px;
$height_26: 26px;
$height_Normal: normal;

// WEIGHTs
$weight_400: 400;
$weight_500: 500;

// SPAVINGs
$spacing_2: 2px;
$spacing_1: 1px;
