@import "../../mainStyles.module.scss";

// DESKTOP
.contactPage {
    max-width: calc(1110px + 32px);
    padding: 0 16px;
    margin: 0 auto;
    margin-top: 80px;
    .contactForm {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 64px;
        gap: 64px;
        background-color: $color_Peach;
        border-radius: 24px;
        .textSection {
            width: 60%;
            .title2 {
                color: $color_White;
                font-size: $size_48;
                font-weight: $weight_500;
            }
            .mainText {
                margin-top: 32px;
                color: $color_White;
                font-size: $size_16;
                font-weight: $weight_400;
            }
        }
        form {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 24px;
            .inputForm,
            .textArea {
                width: 100%;
                padding: 8px;
                border-bottom: 1px solid $color_LightGrey;
                color: $color_LightGrey;
                font-size: $size_16;
                font-weight: $weight_500;
                &::placeholder {
                    color: $color_LightGrey;
                    font-size: $size_16;
                    font-weight: $weight_500;
                }
            }
            .textArea {
                resize: none;
                height: 100px;
            }
            .inputFormFilled {
                border-bottom: 1px solid $color_White;
                color: $color_White;
            }
            .submitButton {
                padding: 16px 24px;
                background-color: $color_White;
                color: $color_darkGrey;
                border-radius: 8px;
                font-size: $size_16;
                font-weight: $weight_500;
                letter-spacing: $spacing_1;
                text-transform: uppercase;
                transition: 250ms;
                &:hover {
                    background-color: $color_LightPeach;
                    color: $color_Peach;
                }
            }
        }
    }
}

// TABLET
@media screen and (max-width: 840px) {
    .contactPage {
        .contactForm {
            flex-direction: column;
            padding: 64px 48px;
            .textSection {
                width: 100%;
            }
            form {
                width: 100%;
            }
        }
    }
}
